.MuiButton-root {
    color: #ffffff !important;
}
.MuiTextField-root {
    
    padding: 18px !important;
    margin: 0px 100% !important;
}
.w-25-i
{
    width: 30%!important;
}
.ms-1-i {
    margin-left: -3.2rem !important;
}