#m-form
{
    /* border-radius: 10px; */
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);

}
.top-50
{
    top: 45% !important;
}
.start-50
{
  left: 25% !important;
}
/* body{
  background-image: url('back.jpg');
  margin: 100px;
background-repeat: no-repeat;
background-attachment: fixed;
background-size: cover;
} */

.mt-4 {
margin-top: 2rem!important;
}
.MuiAppBar-colorPrimary {
  color: #FFE;
  background-color: #003580!important;
}
.form-check-input:checked {
  background-color: #003580;
  border-color: #003580;
}
.w-25 {
  width: 20%!important;
}
.w-75 {
  width: 70%!important;
}
.mt-5-c {
  margin-top: 10rem!important;
}
.btn-primary {
  color: #fff;
  background-color: #003580;
  border-color: #003580;
}

.rounded-pill-custom0 {
  border-radius: 50rem 0rem 0rem 50rem !important;
}
.rounded-pill-custom1 {
  border-radius: 0rem 50rem 50rem 0rem !important;
}